<template>
  <div>
    <el-dialog
      :visible.sync="show"
      width="80%"
      :close-on-click-modal="false"
      :before-close="onBtn"
    >
      <el-form ref="form" :model="form" label-width="80px">
        <el-form-item
          label="商品名称"
          :rules="[
            { required: true, message: '请输入商品名称', trigger: 'blur' },
          ]"
          prop="title"
        >
          <el-input
            v-model="form.title"
            maxlength="20"
            show-word-limit
          />
        </el-form-item>

        <el-form-item
          label="商品图片"
          :rules="[
            { required: true, message: '请上传商品图片', trigger: 'blur' },
          ]"
          prop="imgUrls"
        >
          <el-upload
            action="https://kaidian.weboostapp.com/api/public/api/v1/adminUpload"
            multiple
            list-type="picture-card"
            :on-remove="onFormImgRemove"
            :on-success="onFormImgUpload"
            :file-list="form.imgUrls"
          >
            <i class="el-icon-plus" />
          </el-upload>
        </el-form-item>

        <el-form-item label="商品详情" prop="description">
          <mavon-editor
            ref="md"
            v-model="form.description"
            @imgAdd="onMarkDownUploadImg"
          />
        </el-form-item>

        <el-form-item
          label="商品价格"
          :rules="[{ required: true, message: '商品价格不能为空' }]"
          prop="price"
        >
          <el-input v-model="form.price" type="number" />
        </el-form-item>

        <el-form-item
          label="商品单位"
          :rules="[
            { required: true, message: '请输入商品单位', trigger: 'blur' },
          ]"
          prop="unit"
        >
          <!-- <el-select
            v-model="unit"
            filterable
            allow-create
            default-first-option
            placeholder="请选择或输入商品单位"
          >
            <el-option
              v-for="item in unitList"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            >
            </el-option>
          </el-select> -->
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="onSubmit('form')">确认</el-button>
          <el-button @click="resetForm('form')">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import CommonServices from '../../../../services/CommonServices'
import enumServices from '../../../../services/enumServices'

export default {
  name: 'FormProductTool',
  props: {
    selectList: {
      type: Array,
      default: () => []
    },
    show: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        title: '',
        description: '',
        price: 0,
        imgUrls: [],
        unit: ''
      },

      unitList: enumServices.unitList()
    }
  },
  computed: {},
  created() {
    console.log(this.unitList)
  },
  methods: {
    onBtn() {
      this.$emit('on-btn')
    },

    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          console.log(this.form)
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },

    // 上传帖子富文本图片
    onMarkDownUploadImg(name, file) {
      var formdata = new FormData()
      formdata.append('file', file)
      const request = CommonServices.uploadFile(formdata)
      request
        .then((res) => {
          this.$refs.md.$img2Url(name, res)
        })
        .catch((err) => {
          this.loading = false
          console.log(err)
        })
    },

    onFormImgRemove(file, fileList) {
      this.form.imgUrls = fileList
    },
    onFormImgUpload(res, file) {
      this.form.imgUrls.push({ name: file.name, url: file.response.data })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
