<template>
  <div>
    <el-table
      :max-height="windowHeight - 250"
      :data="tableData"
      border
      class="table-container"
    >
      <el-table-column fixed prop="skuId" label="产品编号" width="100" />
      <el-table-column prop="title" label="商品名称" width="250" />
      <el-table-column label="商品图片" width="100">
        <template slot-scope="scope">
          <div>
            <imageTool :img-url="scope.row.imgUrls[0]" />
          </div>
        </template>
      </el-table-column>
      <el-table-column prop="price" label="所属分类" />
      <el-table-column prop="price" label="展示价格" />
      <el-table-column prop="unit" label="单位" />
      <el-table-column prop="storageNum" label="库存" />
      <el-table-column prop="soldNum" label="销量" />
      <!-- <el-table-column fixed="right" label="操作" width="100">
        <template slot-scope="scope">
          <el-button type="text" size="small">编辑</el-button>
        </template>
      </el-table-column> -->
    </el-table>
    <el-pagination
      :page-size="50"
      :current-page.sync="currentPage"
      style="padding-top: 20px"
      background
      layout="prev, pager, next,jumper"
      :total="tableCount"
      @current-change="onFetchTableData"
    />
  </div>
</template>

<script>
import ProductServices from '../../../../services/ProductServices'
import imageTool from '../common/imageTool'

export default {
  name: 'TableCategories',
  components: { imageTool },
  props: {},
  data() {
    return {
      windowWidth: window.innerWidth,
      windowHeight: window.innerHeight,

      tableData: [],
      tableCount: 0,
      currentPage: 1,
      currentData: {},

      formSearch: {
        selected: [],
        selectedOrder: '',
        input: ''
      }
    }
  },
  computed: {},
  created() {
    this.onFetchTableData()
  },
  methods: {
    onPassSearch(formPass) {
      this.formSearch = formPass
      this.onFetchTableData()
    },

    onFetchTableData() {
      this.loading = true
      const request = ProductServices.fetchProductList(
        this.currentPage,
        this.formSearch.input,
        this.formSearch.selected,
        this.formSearch.selectedOrder
      )
      request
        .then((res) => {
          this.loading = false
          this.tableData = res.data
          this.tableCount = res.total
        })
        .catch((err) => {
          this.loading = false
          console.log(err)
        })
    },

    onPassBtn(event) {
      this.currentData = event
      this.$emit('on-pass-btn', event)
    },

    onStatus(event, status) {
      this.loading = true
      this.currentData = event
      const request = ProductServices.updateStatus(this.currentData.id, status)
      request
        .then((res) => {
          this.loading = false
          this.onFetchTableData()
        })
        .catch((err) => {
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
