<template>
  <div>
    <img
      v-if="imgUrl != null && imgUrl != undefined"
      class="product-img"
      :src="imgUrl"
      @click="onPreview"
    >
    <el-dialog :visible.sync="show" width="50%" :close-on-click-modal="false">
      <img
        v-if="imgUrl != null && imgUrl != undefined"
        class="product-img-preivew"
        :src="imgUrl"
      >
    </el-dialog>
  </div>
</template>

<script>
export default {
  name: 'ImageTool',
  props: {
    imgUrl: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      show: false
    }
  },
  computed: {},
  created() {},
  methods: {
    onPreview() {
      this.show = !this.show
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
