<template>
  <div>
    <div class="search-tool">
      <el-card shadow="never">
        <div class="tool-bar">
          <div v-if="selectList.length > 0" class="select-bar">
            <el-select
              v-model="form.selected"
              style="width: 100%"
              multiple
              :placeholder="selectPlaceHolder"
            >
              <el-option
                v-for="item in selectList"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </div>
          <div v-if="selectSecList.length > 0" class="select-bar">
            <el-select
              v-model="form.selectedSec"
              style="width: 100%"
              multiplew
              :placeholder="selectSecPlaceHolder"
            >
              <el-option
                v-for="item in selectSecList"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </div>
          <div v-if="inputPlaceHolder.length > 0" class="input-bar">
            <el-input
              v-model="form.input"
              :placeholder="inputPlaceHolder"
              @keyup.native.enter="onSearch"
            />
          </div>
          <div v-if="selectOrderList.length > 0" class="select-bar">
            <el-select
              v-model="form.selectedOrder"
              style="width: 100%"
              :placeholder="selectOrderPlaceHolder"
            >
              <el-option
                v-for="item in selectOrderList"
                :key="item.value"
                :label="item.label"
                :value="item.value"
              />
            </el-select>
          </div>
          <div class="search-btn">
            <el-button
              type="primary"
              icon="el-icon-search"
              @click="onSearch"
            >搜索</el-button>
          </div>
        </div>
        <div v-if="btnText != ''" class="btn-bar">
          <el-button type="primary" @click="onBtn">{{ btnText }}</el-button>
        </div>
      </el-card>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TableTool',
  props: {
    selectList: {
      type: Array,
      default: () => []
    },
    selectPlaceHolder: {
      type: String,
      default: '请选择'
    },
    selectSecList: {
      type: Array,
      default: () => []
    },
    selectSecPlaceHolder: {
      type: String,
      default: '请选择'
    },
    selectOrderList: {
      type: Array,
      default: () => []
    },
    selectOrderPlaceHolder: {
      type: String,
      default: '请选择'
    },
    inputPlaceHolder: {
      type: String,
      default: '请输入'
    },
    btnText: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      form: {
        selected: [],
        selectedSec: [],
        selectedOrder: '',
        input: ''
      }
    }
  },
  computed: {},
  created() {},
  methods: {
    onSearch() {
      this.$emit('on-search', this.form)
    },
    onBtn() {
      this.$emit('on-btn', this.form)
    }
  }
}
</script>

<style lang="scss" scoped>
.search-tool {
  width: 100%;
  display: inline-block;
  .tool-bar {
    width: 70%;
    display: inline-block;
    text-align: left;
    .select-bar {
      width: 200px;
      display: inline-block;
      margin: 5px;
    }
    .input-bar {
      width: 250px;
      display: inline-block;
      margin: 5px;
    }

    .search-btn {
      width: 8%;
      display: inline-block;
      margin: 5px;
    }
  }

  .btn-bar {
    width: 29%;
    display: inline-block;
    text-align: right;
  }
}
</style>
