<template>
  <div v-loading.fullscreen.lock="loading" class="container">
    <div class="inner-container">
      <tableTool
        :select-list="selectList"
        :select-place-holder="selectPlaceHolder"
        :input-place-holder="inputPlaceHolder"
        :btn-text="btnText"
        @on-search="onSearch"
        @on-btn="onBtn"
      />

      <tableCategories ref="tableCategories" @on-pass-btn="onPassBtn" />

      <formCategoriesTool
        ref="formCategoriesTool"
        :show="showForm"
        @on-btn="onBtn"
      />
    </div>
  </div>
</template>

<script>
import tableTool from './components/common/tableTool'
import formCategoriesTool from './components/packageCategories/formCategoriesTool'
import tableCategories from './components/packageCategories/tableCategories'
import CategoriesServices from '../../services/CategoriesServices'

export default {
  name: 'CategoriesList',
  components: { tableTool, tableCategories, formCategoriesTool },
  data() {
    return {
      loading: false,

      selectList: [
        { label: '在架', value: 'on' },
        { label: '下架', value: 'off' },
        { label: '已删除', value: 'delete' }
      ],

      selectPlaceHolder: ' 请选择分类状态',
      inputPlaceHolder: '请输入分类名称',
      btnText: '创建新分类',

      showForm: false
    }
  },
  computed: {},
  created() {},
  methods: {
    onBtn(event) {
      this.showForm = !this.showForm
      this.$refs.tableCategories.onFetchTableData()
      return this.showForm
    },
    onSearch(event) {
      this.$refs.tableCategories.onPassSearch(event)
    },
    onPassBtn(event) {
      this.showForm = !this.showForm
      this.$refs.formCategoriesTool.onPassBtn(event)
    }
  }
}
</script>
