<template>
  <div class="container">
    <div class="inner-container" />
  </div>
</template>

<script>

export default {
  name: 'Dashboard',
  data() {
    return {

    }
  },
  computed: {},
  created() {
  }
}
</script>

<style lang="scss" scoped>
</style>
