<template>
  <div v-loading.fullscreen.lock="loading" class="container">
    <div class="inner-container">
      <tableTool
        :select-list="selectList"
        :select-place-holder="selectPlaceHolder"
        :select-sec-list="selectSecList"
        :select-sec-place-holder="selectSecPlaceHolder"
        :input-place-holder="inputPlaceHolder"
        :select-order-list="selectOrderList"
        :select-order-place-holder="selectOrderPlaceHolder"
        :btn-text="btnText"
        @on-search="onSearch"
        @on-btn="onBtn"
      />

      <tableProduct ref="tableProduct" />

      <formProductTool
        ref="formProductTool"
        :show="showForm"
        @on-btn="onBtn"
      />
    </div>
  </div>
</template>

<script>
import tableTool from './components/common/tableTool'
import tableProduct from './components/packageProduct/tableProduct'
import formProductTool from './components/packageProduct/formProductTool'
// import ProductServices from '../../services/ProductServices'

export default {
  name: 'ProductList',
  components: { tableTool, tableProduct, formProductTool },
  data() {
    return {
      windowWidth: window.innerWidth,
      windowHeight: window.innerHeight,
      loading: false,

      selectList: [
        { label: '在架', value: 'on' },
        { label: '下架', value: 'off' },
        { label: '已删除', value: 'delete' }
      ],
      selectPlaceHolder: ' 请选择商品状态',
      selectSecList: [],
      selectSecPlaceHolder: ' 请选择分类',
      inputPlaceHolder: '请输入商品名称',
      selectOrderList: [
        { label: '从新到旧', value: 'newDesc' },
        { label: '从旧到新', value: 'newAsc' }
      ],
      selectOrderPlaceHolder: '请选择顺序',
      btnText: '创建新商品',

      showForm: false
    }
  },
  computed: {},
  created() {},
  methods: {
    onBtn(event) {
      this.showForm = !this.showForm
      this.$refs.tableProduct.onFetchTableData()
      return this.showForm
    },
    onSearch(event) {
      this.$refs.tableProduct.onPassSearch(event)
    }
  }
}
</script>
