<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {}
  },
  computed: {},
  created() {
    var auth = localStorage.getItem('hulaShopAuth')
    if (auth == null || auth == undefined) {
      this.logout()
    } else {
      this.$store.commit('setHulaShopAuth', auth)
    }
  },
  methods: {
    async logout() {
      await this.$store.dispatch('user/logout')
      this.$router.push(`/login?redirect=${this.$route.fullPath}`)
    }
  }
}
</script>

<style lang="scss" >
</style>
