<template>
  <div>
    <el-dialog
      :visible.sync="show"
      width="80%"
      :close-on-click-modal="false"
      :before-close="onBtn"
    >
      <el-form ref="form" :model="form" label-width="80px">
        <el-form-item
          label="分类名称"
          :rules="[
            { required: true, message: '请输入分类名称', trigger: 'blur' },
          ]"
          prop="name"
        >
          <el-input v-model="form.name" maxlength="4" show-word-limit />
        </el-form-item>

        <el-form-item label="分类图片">
          <el-upload
            class="avatar-uploader"
            action="https://kaidian.weboostapp.com/api/public/api/v1/adminUpload"
            :show-file-list="false"
            :on-success="onUploadImg"
          >
            <img v-if="form.imgUrl" :src="form.imgUrl" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon" />
          </el-upload>
        </el-form-item>

        <el-form-item>
          <el-button
            type="primary"
            @click="edit ? onEdit('form') : onSubmit('form')"
          >确认</el-button>
          <el-button @click="resetForm('form')">重置</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import utils from '../../../../services/utils'
import CategoriesServices from '../../../../services/CategoriesServices'

export default {
  name: 'FormCategoriesTool',
  props: {
    selectList: {
      type: Array,
      default: () => []
    },
    show: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      form: {
        name: '',
        imgUrl: ''
      },
      edit: false
    }
  },
  computed: {},
  created() {},
  methods: {
    onBtn() {
      this.resetForm()
      this.$emit('on-btn')
    },

    onPassBtn(formPass) {
      this.edit = !this.edit
      this.form = formPass
    },

    onUploadImg(res, fileList) {
      this.form.imgUrl = res.data
    },

    onSubmit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const request = CategoriesServices.insertCategories(
            this.form.name,
            this.form.imgUrl
          )
          request
            .then((res) => {
              this.onBtn()
              this.resetForm()
              this.$message({
                message: '创建成功',
                type: 'success'
              })
            })
            .catch((err) => {
              this.$message({
                message: '创建失败',
                type: 'warning'
              })
            })
        } else {
          return false
        }
      })
    },

    onEdit(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          const request = CategoriesServices.updateCategories(
            this.form.id,
            this.form.name,
            this.form.imgUrl
          )
          request
            .then((res) => {
              this.edit = !this.edit
              this.onBtn()
              this.resetForm()
              this.$message({
                message: '更新成功',
                type: 'success'
              })
            })
            .catch((err) => {
              this.$message({
                message: '更新失败',
                type: 'warning'
              })
            })
        } else {
          return false
        }
      })
    },

    resetForm(formName) {
      this.form = {
        name: '',
        imgUrl: ''
      }
    }
  }
}
</script>
