<template>
  <div>
    <el-table
      :max-height="windowHeight - 250"
      :data="tableData"
      border
      class="table-container"
    >
      <el-table-column fixed prop="name" label="分类名称" />
      <el-table-column label="分类图片">
        <template slot-scope="scope">
          <div>
            <imageTool :img-url="scope.row.imgUrl" />
          </div>
        </template>
      </el-table-column>
      <el-table-column label="状态">
        <template slot-scope="scope">
          <div>
            <el-tag v-if="scope.row.status == 'on'" size="medium">在架</el-tag>
            <el-tag
              v-else-if="scope.row.status == 'off'"
              type="warning"
              size="medium"
            >下架</el-tag>
            <el-tag v-else type="danger" size="medium">已删除</el-tag>
          </div>
        </template>
      </el-table-column>
      <el-table-column fixed="right" label="操作" width="200">
        <template slot-scope="scope">
          <el-button
            type="text"
            size="small"
            @click="onPassBtn(scope.row)"
          >编辑</el-button>

          <el-popconfirm
            title="将导致该分类下所有商品状态变更"
            @onConfirm="
              onStatus(scope.row, scope.row.status == 'on' ? 'off' : 'on')
            "
          >
            <el-button
              v-if="scope.row.status == 'off' || scope.row.status == 'delete'"
              slot="reference"
              type="text"
              size="small"
            >上架</el-button>
            <el-button
              v-else
              slot="reference"
              type="text"
              size="small"
            >下架</el-button>
          </el-popconfirm>

          <el-popconfirm
            title="将导致该分类下所有商品状态变更"
            @onConfirm="onStatus(scope.row, 'delete')"
          >
            <el-button
              slot="reference"
              type="text"
              size="small"
            >删除</el-button>
          </el-popconfirm>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :page-size="50"
      :current-page.sync="currentPage"
      style="padding-top: 20px"
      background
      layout="prev, pager, next,jumper"
      :total="tableCount"
      @current-change="onFetchTableData"
    />
  </div>
</template>

<script>
import CategoriesServices from '../../../../services/CategoriesServices'
import imageTool from '../common/imageTool'

export default {
  name: 'TableCategories',
  components: { imageTool },
  props: {},
  data() {
    return {
      windowWidth: window.innerWidth,
      windowHeight: window.innerHeight,

      tableData: [],
      tableCount: 0,
      currentPage: 1,
      currentData: {},

      formSearch: {
        selected: [],
        input: ''
      }
    }
  },
  computed: {},
  created() {
    this.onFetchTableData()
  },
  methods: {
    onPassSearch(formPass) {
      this.formSearch = formPass
      this.onFetchTableData()
    },

    onFetchTableData() {
      this.loading = true
      const request = CategoriesServices.fetchCategoriesList(
        this.currentPage,
        this.formSearch.input,
        this.formSearch.selected
      )
      request
        .then((res) => {
          this.loading = false
          this.tableData = res.data
          this.tableCount = res.total
        })
        .catch((err) => {
          this.loading = false
        })
    },

    onPassBtn(event) {
      this.currentData = event
      this.$emit('on-pass-btn', event)
    },

    onStatus(event, status) {
      this.loading = true
      this.currentData = event
      const request = CategoriesServices.updateStatus(
        this.currentData.id,
        status
      )
      request
        .then((res) => {
          this.loading = false
          this.onFetchTableData()
        })
        .catch((err) => {
          this.loading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
